<!DOCTYPE html>
<html lang="pt-br" ng-app="app">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Filtro</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
</head>

<body>

  <div class="container" ng-controller="MainController">

    <input ng-attr-type="{{selecionado.type}}" ng-model="search[selecionado.nome]" />

    <select ng-model="selecionado" ng-change="reset()">
      <option ng-repeat="opcao in opcoes" ng-value="opcao">{{opcao.nome}}</option>
    </select>

    <p>{{search}}</p>

    <h1>Instrutores</h1>

    <ul>
      <li ng-repeat="instrutor in instrutores | filter: search">
        {{ instrutor | json }}
      </li>
    </ul>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script><!-- ng -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.6.4/angular-locale_pt-br.min.js"></script>
  <script src="main.js"></script>
</body>

</html>