<!DOCTYPE html>
<html ng-app="herois-app">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exemplo</title>
</head>

<body ng-controller="HeroisController">
    <h1>Projeto Crescer - CWI Software</h1>
    
    <ul>
        <li ng-repeat="heroi in herois">
            {{ heroi.Nome }} - {{ heroi.Poder.Dano }}
        </li>
    </ul>

    <button ng-click="enviarHeroi()">Enviar Herói</button>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/service.js"></script>
</body>

</html>