<!DOCTYPE html>
<html ng-app="aula02">

<head>
  <title>Aula02 - Exemplo03</title>
</head>

<body>

  <div ng-controller="Exemplo03">

    <label for="dataDigitada">Data Digitada</label>
    <input type="text" ng-model="dataDigitada" placeholder="dd/mm/aaaa"/>
    
    <button ng-click="converter()">Converter!</button>
    
    <span>{{ dataObjeto | date: 'mediumDate' }}</span>

    <br />

    <span>{{ dataPronta }}</span>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="pt-br.js"></script>
  <script src="controller.js"></script>
</body>

</html>